html {
	scroll-behavior: smooth;
	font-size: 62.5%;
    height: 100%;
}

:root {
  --color-black: #090909;
	--color-white: #ffffff;
  --color-blue: #1e90ff;
  --color-light-blue: #87cefa;
  --color-dark-blue: #0056b3;
  --font-size-small: 1.2rem;
	--font-size-medium: 1.6rem;
	--font-size-large: 1.8rem;
	--font-size-x-large: 2.3rem;
	--font-size-xx-large: 4.8rem;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100%;
}

main {
    background-color: var(--bg-color);
    padding: 2rem 6rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main .intro, main .howto {
    background-color: var(--page-color);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
}

h2 {
    font-size: var(--font-size-x-large);
}

main .intro-text, main .howto-text {
    color: var(--text-color);
    padding: 1rem 2rem;
    text-align: left;
    flex: 1;
}

main .intro .intro-text {
    font-size: var(--font-size-large);
}

main .howto-text {
    font-size: var(--font-size-medium);
}

main .intro .intro-text a, .editor-link a {
    font-size: var(--font-size-x-large);
    padding: 10px;
    background-color: var(--color-blue);
    color: var(--color-white);
    font-size: var(--font-size-medium);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

main .intro .intro-text a:hover, .editor-link a:hover {
    background-color: var(--color-dark-blue);
}

main .intro .intro-text a::after, .editor-link a::after {
    color: var(--color-white);
}

.example-img, .howto-example {
    display: flex;
    justify-content: center;
}

.example-img img, .howto-example img {
    width: 50rem;
    height: auto;
    padding: 1rem 2rem;
}

.editor-link {
    background-color: var(--color-white);
    text-align: center;
    padding: 1rem 2rem;
    padding-bottom: 3rem;
}

@media (max-width: 768px) {
    main .intro, main .howto {
        flex-direction: column-reverse;
    }

    .example-img, .howto-example {
        padding: 0.5rem;
    }

    .example-img img, .howto-example img {
        max-width: 100%;
    }
}
