:root {
    --color-black: #090909;
    --color-white: #ffffff;
    --color-blue: #1e90ff;
    --color-light-blue: #87cefa;
    --color-dark-blue: #0056b3;
    --font-size-small: 1.2rem;
    --font-size-medium: 1.6rem;
    --font-size-large: 1.8rem;
    --font-size-x-large: 2.3rem;
    --font-size-xx-large: 4.8rem;

    --bar-height: 1rem;
    --bar-width: 3rem;
    --hamburger-gap: 0.6rem;
    --hamburger-margin: 5px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
  }

*,
*::after,
*::before {
  box-sizing: border-box;
}

.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);

  display: none;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  position: absolute;
  top: var(--hamburger-margin);
  left: var(--hamburger-margin);
  z-index: 2;
  cursor: pointer;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--color-white);
  border-radius: 25px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
   rotate var(--animation-timing), translate var(--animation-timing);
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu:checked {
  opacity: 0;
  width: 0;
}

header {
    background-color: var(--header-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    height: auto;
  }

  header .user-toggles {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex: 1;
  }

  header .user-toggles img {
    height: 1.5rem;
    width: auto;
  }

  header .header-container {
    display: flex;
    flex-direction: column;
  }
  
  header .logo-container {
    margin: auto;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  header .logo-container img {
    height: 6rem;
    width: auto;
  }
  
  header .login-link, header nav {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0.5rem;
    width: 100%;
}
  
  header .login-link {
    border: 0.5rem solid var(--color-white);
    padding: 0.5rem 0.5rem;
  }
  
  header .login-link a, header nav ul li, header nav ul li a {
    font-size: var(--font-size-large);
    color: var(--color-white);
    text-decoration: none;
    margin: 0 0.5rem;
  }
  
  header .login-link a:hover, header nav ul li a:hover {
    opacity: 0.8;
    text-decoration: underline;
  }

  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

nav ul li {
    margin: 0 1rem;
}

  @media (max-width: 768px) {
    .hamburger-menu {
      display: flex;
    }

    header nav {
      flex-direction: column;
      align-items: flex-start;
    }
  
    /* Hide nav items by default */
    .nav-items {
      display: none;
      flex-direction: column;
      width: 100%;
      gap: 1rem; /* Adds space between items */
      padding: 0;
      margin-top: 1rem; /* Space between hamburger and nav items */
    }
  
    .nav-items li {
      margin: 0;
    }
  
    /* Show nav items when the hamburger is checked */
    .hamburger-menu input:checked ~ .nav-items {
      display: flex;
    }

    header {
      flex-direction: row-reverse;
      align-items: flex-start;
    }

    header .user-toggles {
      justify-content: center;
    }
  
    header .logo-container {
      margin-left: auto;
      position: sticky;
    }

    header .logo-container img {
      height: 5rem;
    }

    header .login-link, header nav ul li {
      font-size: var(--font-size-medium);
    }
  }

  @media (max-width: 480px) {
    header .logo-container img {
      height: 4rem;
    }

    header .login-link, header nav ul li {
      font-size: var(--font-size-small);
    }
  }