html {
	scroll-behavior: smooth;
	font-size: 62.5%;
  height: 100%;
}

:root {
  --color-black: #090909;
	--color-white: #ffffff;
  --color-blue: #1e90ff;
  --color-light-blue: #87cefa;
  --color-dark-blue: #0056b3;
  --color-dark-grey: #6c6c6c;
  --color-light-grey: #c6c6c6;
  --color-grey: #a9a9a9;
  --color-red: #dc143c;
  --color-dark-red: #ae0c00;
  --color-forest-green: #006E33;
  --color-light-green: #B7EBBD;
  --font-size-small: 1.2rem;
	--font-size-medium: 1.6rem;
	--font-size-large: 1.8rem;
	--font-size-x-large: 2.3rem;
	--font-size-xx-large: 4.8rem;

  --switch-color-primary: var(--color-red);
  --switch-color-secondary: var(--color-dark-red);

  --header-color: var(--color-blue);
  --bg-color: var(--color-light-blue);
  --page-color: var(--color-white);
  --text-color: var(--color-black);
}

[data-theme="dark"] {
  --header-color: var(--color-dark-red);
  --bg-color: var(--color-black);
  --page-color: var(--color-black);
  --text-color: var(--color-white);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100%;
} 

a:hover {
  cursor: pointer;
}